# macOS
.DS_Store

# Xcode
build/
*.xcodeproj
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcworkspace/
xcuserdata/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
Packages/
Package.resolved
*.swiftpm

# Cursor
.cursor/

# Carthage
Carthage/Build

# Test temporary directories
CTFileManagerTests_Temp/